*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url('flappybirdbg.png');
    backdrop-filter: blur(10px);
    text-align: center;
}

#myCanvas{
    background-image: url('flappybirdbg.png');
    background-size: cover;
    border: 2px solid rgba(0, 0, 0, 0.468);
    border-radius: 8px;
}
